$dark-color: #3b2667;
$middle-color: #eb5254;
$light-color: #fff;
@mixin font {
	font-family: "Roboto", sans-serif;
}

.Logo {
	display: flex;
	align-items: center;
	gap: 20px;
}
.LogoSvg {
	width: 120px;
}
.Text {
	@include font;
	font-weight: 900;
	font-size: 50px;
	color: $dark-color;
}
@media (width<=800px) {
	.Text {
		display: none;
	}
	.LogoSvg {
		width: 50px;
	}
}
