$dark-color: #3b2667;
$middle-color: #eb5254;
$light-color: #fff;
@mixin font {
	font-family: "Roboto", sans-serif;
	color: $dark-color;
}
.ProfileLink {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border: 2px solid $light-color;
	border-radius: 20px;
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}
	&:active {
		background-color: $middle-color;
	}
}
.Text {
	&__login {
		@include font;
		font-weight: 400;
		color: $dark-color;
		font-size: 20px;
	}
	&__logout {
		@include font;
		font-weight: 600;
		color: $dark-color;
		font-size: 24px;
	}
}
.nickname {
	@include font;
	font-weight: 400;
	margin: 0px;
	font-size: 14px;
}
.Svg {
	width: 50px;
}
@media (width<=800px) {
	.Text {
		&__login {
			display: none;
		}
		&__logout {
			display: none;
		}
	}
	.nickname {
		display: none;
	}
	.Svg {
		width: 70px;
	}
}
