$dark-color: #3b2667;
$middle-color: #eb5254;
$light-color: #fff;
@mixin font {
	font-family: "Roboto", sans-serif;
	color: $dark-color;
	font-size: 24px;
}

.SearchBox {
	width: 70%;
	display: flex;
	align-items: center;
}
.SearchInput {
	width: 100%;
	text-align: center;
	padding: 10px 20px;
	border: 3px solid $dark-color;
	border-radius: 10px;
	@include font;
}

@media (width<=800px) {
	.SearchInput {
		border: none;
		width: 100%;
		padding: 5px 10px;
		border-radius: 0px;
		border-bottom: 2px solid $dark-color;
		&:focus {
			border: none;
		}
	}
	.SearchBtn {
		display: none;
	}
}
